h1{
    color:rgb(16, 15, 15);
}

p{
    color:rgb(58, 6, 121);
}

body{
    background-color: rgb(195, 142, 236);
}

button{
    color:rgb(14, 12, 13);
    background-color: rgb(234, 142, 211);
}


